@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #77da86d2;
    backdrop-filter: blur(5px);
}

.navbar-brand img{
    width: 30px;
    margin-right: 5px;
}

.navbar-nav .nav-item {
    text-align: center;
}

.carousel-inner .carousel-item {
    height: 500px;
}

.carousel-inner .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption h2 {
    background-color: rgba(0, 0, 0, .3);

}

#container-lugares {
    padding: 10px;
}

.title {
    color: #65c4bc;
}

.card {
    height: 300px;
}

.card-img-overlay {
    background-color: rgb(0, 0, 0, .4);
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#section-sobre {
    height: 500px;
    width: 100%;
    background-image: url("./assets/images/estrada.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-sobre div {
    background-color: rgba(0, 0, 0, .3);
}

#section-sobre div h1 {
    color: #FFF18C;
}

#section-sobre div span {
    color: #65c4bc;
    font-weight: bold;
}